@font-face {
    font-family: tanha;
    src: url(assets/Tanha.woff) format('woff');
}

body {
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-custom {
    background-color: rgba(193, 193, 193, 0.616);
}
.input-custom {
    border-radius: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: tanha;
    text-align: right;
    padding: 20px 10px;
}


.image {
    width: 250px;
    margin-bottom: 10px;
}

.container {
    font-family: tanha;
}

.switch-container {
    background: linear-gradient(135deg, #4568DC, #b06ab3);
}
  
.switch-container .nav-link {
    color: var(--bs-white);
}

.switch-container .nav-link.active {
    color: var(--bs-primary);
    background-color: var(--bs-white);
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main-container-login {
    margin-top: 200px;
}

.main-container-signup {
    margin-top: 200px;
}

.text-font-size {
    font-size: 20px;
}

.title-font-size {
    font-size: 32px;
}

.link-font-size {
    font-size: 17px;
}

.login-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e4e94;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}