.main-container {
    margin-top: 60px;
}

.title {
    font-size: 32px;
    font-weight: 300;
}


.myCustomLabel {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* transform: translateY(-100%);
    background-color: white; /* Optional: Set a background color */
    padding: 0 0px;
  }