.big-font {
  font-size: 32px;
}

.medium-font {
  font-size: 20px;
}

.center {
  text-align: center;
}

.noLine {
  text-decoration: none;
  color: black;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}