.big-font {
  font-size: 32px;
}

.medium-font {
  font-size: 20px;
}

.center {
  text-align: center;
}

.noLine {
  text-decoration: none;
  color: black;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.brand {
  background: linear-gradient(rgb(228, 42, 181), rgb(199, 149, 223), rgb(6, 94, 196));
  border-radius: 5px 50px;
  padding-left: 10px;
  padding-right: 10px;
}