

.rtl {
    direction: rtl;
    text-align: right;
}

.main-container-footer {
    margin-bottom: 0px;
}

.bg-light {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}